.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}

mat-form-field {
  width: 100%;
}

form {
  padding: 4rem;
  border-radius: 20px;
  background-color: #eee;
  box-shadow: 0 0 10px 0;
  width: 45rem;
}

.btn-danger {
  background-color: rgb(163, 28, 28) !important;
}
