<div
  class="container p-3 d-flex flex-column justify-content-center align-items-center"
>
  <div class="text-center mb-3 d-flex flex-column">
    <h1>Mi Perfil</h1>
    <div class="text-center flex-container d-flex">
      <button
        mat-flat-button
        [hidden]="modoEdicion"
        type="button"
        class="me-3"
        (click)="habilitarEdicion()"
      >
        Modificar datos
      </button>
      <button
        mat-flat-button
        [hidden]="!modoEdicion || cambiarRolB"
        type="button"
        class="btn-danger"
        (click)="eliminarCuenta()"
      >
        Eliminar cuenta
      </button>

      <button
        mat-flat-button
        [hidden]="modoEdicion"
        type="button"
        class="me-3"
        (click)="irCambiarPassword()"
      >
        Cambiar contraseña
      </button>

      <button
        mat-flat-button
        [hidden]="modoEdicion"
        type="button"
        (click)="empezarCambioRol()"
      >
        Cambiar rol
      </button>
    </div>
  </div>
  <div>
    <form [formGroup]="form" (submit)="guardar()" *ngIf="!cambiarRolB">
      <div>
        <!-- Full Name -->
        <div class="mb-3">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Ex. Pepe Perez"
              formControlName="nombre"
              [readonly]="!modoEdicion"
            />
            <mat-error *ngIf="form.get('nombre')?.hasError('required')">
              Tu nombre es obligatorio!!
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Address -->
        <div class="mb-3">
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input
              matInput
              placeholder="Ex. Avenida Cesar Canevaro 1139, Lince, 15073, Peru"
              formControlName="direccion"
              [readonly]="!modoEdicion"
            />
            <mat-error *ngIf="form.get('direccion')?.hasError('required')">
              Tu dirección es obligatoria!!
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Phone Number -->
        <div class="mb-3">
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              placeholder="Ex. 987654321"
              formControlName="telefono"
              [readonly]="!modoEdicion"
            />
            <mat-error *ngIf="form.get('telefono')?.hasError('required')">
              Tu teléfono es obligatorio!!
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input
              matInput
              placeholder="Ex. pepe06@mail.com"
              formControlName="email"
              [readonly]="!modoEdicion"
            />
            <mat-error *ngIf="form.get('email')?.hasError('email')">
              El email ingresado no es válido!!
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Username -->
        <div class="mb-3" [hidden]="modoEdicion">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" [readonly]="true" />
          </mat-form-field>
        </div>

        <!-- Rol -->
        <div class="mb-3" [hidden]="modoEdicion">
          <mat-form-field>
            <mat-label>Rol</mat-label>
            <input matInput formControlName="rol" [readonly]="true" />
          </mat-form-field>
        </div>
      </div>

      <div class="mt-3 text-center" [hidden]="!modoEdicion">
        <button mat-flat-button>Guardar cambios</button>
      </div>
    </form>

    <form [formGroup]="form2" class="example-form form" (submit)="cambiarRol()" *ngIf="cambiarRolB">
      <div>
        <mat-form-field>
          <mat-label>Nuevo Rol</mat-label>
          <mat-select formControlName="rol">
            @for (r of roles; track r.id) {
            <mat-option [value]="r.id">{{ r.value }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('rol')?.hasError('required')">
            El rol es obligatorio!!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-3 text-center d-flex">
        <button class="w-100" mat-flat-button>Cambiar Rol</button>
      </div>
    </form>
  </div>
</div>
