<mat-card class="custom-card" appearance="outlined">
  <mat-card-header class="header-card">
    <mat-card-title>
      {{ inmueble.nombre }}
    </mat-card-title>
    <mat-card-subtitle class="card-subtitle-limit">
      {{ inmueble.direccion.direccion }}
    </mat-card-subtitle>
  </mat-card-header>

  <div
    class="carousel slide carrusel"
    [id]="'carousel' + inmueble.idInmueble"
    data-bs-ride="carousel"
    *ngIf="imagenes.length > 0"
  >
    <div class="carousel-indicators">
      <button
        *ngFor="let img of imagenes; let i = index"
        type="button"
        [attr.data-bs-target]="'#carousel' + inmueble.idInmueble"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-current]="i === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>

    <div class="error-images" *ngIf="imagenes?.length == 0">
      <p>No hay imágenes</p>
    </div>

    <div class="carousel-inner" *ngIf="imagenes.length > 0">
      <div
        *ngFor="let img of imagenes; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
      >
        <img
          [src]="img.url"
          class="d-block w-100 carousel-image"
          alt="Imagen del inmueble"
        />
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      [attr.data-bs-target]="'#carousel' + inmueble.idInmueble"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Anterior</span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      [attr.data-bs-target]="'#carousel' + inmueble.idInmueble"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <mat-card-content class="card-content-scroll">
    <p>{{ inmueble.descripcion }}</p>
  </mat-card-content>

  <mat-card-actions class="d-grid">
    <button class="btn btn-primary boton-primario" (click)="openDialog()">
      Ver detalles
    </button>
  </mat-card-actions>
</mat-card>
