<div class="d-flex flex-column cards-container">
  <div class="d-flex justify-content-between m-2">
    <div class="d-flex justify-content-center align-items-center">
      <h2>Listado de inmuebles</h2>
    </div>
    <div class="d-flex gap-3" *ngIf="estaLogeado">
      <button
        mat-fab
        extended
        class="btn-fitrar"
        (click)="listarPorUsuario()"
        *ngIf="esVendedor"
      >
        <mat-icon>apartment</mat-icon>
        Mis Inmuebles
      </button>
      <button mat-fab extended class="btn-fitrar" (click)="mostrarFavoritos()">
        <mat-icon>favorite</mat-icon>
        Favoritos
      </button>
      <button mat-fab extended class="btn-fitrar" (click)="openDialogBuscar()">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
      <button mat-fab extended class="btn-fitrar" (click)="openDialogFiltro()">
        <mat-icon>filter_list</mat-icon>
        Filtrar
      </button>
    </div>
  </div>

  <div class="contenedor" *ngIf="inmueblesOriginales.length > 0">
    <div class="contenedor-grid-tarjetas">
      <app-tarjeta-inmueble
        *ngFor="let inmueble of inmuebles"
        [inmueble]="inmueble"
      >
      </app-tarjeta-inmueble>
    </div>
    <mat-paginator
      class="paginador"
      [length]="inmueblesOriginales.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[]"
      [hidePageSize]="true"
      [pageIndex]="pageIndex"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>

  <div
    *ngIf="solicituRealizada && inmuebles.length === 0"
    class="d-flex flex-column justify-content-center align-items-center mt-5"
    style="min-height: 200px"
  >
    <h5 class="text-center fst-italic mt-3 text-muted">
      No hay inmuebles disponibles
    </h5>
  </div>
</div>
