.cards-container {
  box-sizing: border-box;
  padding: 0.9rem;
}

.contenedor {
  display: flex;
  flex-direction: column;
  padding: 1rem 10rem;
  gap: 1rem;
}

.contenedor-grid-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}

.paginador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  justify-self: center;
  background-color: #0a663a;
  border-radius: 3rem;
  color: #feffef;
  font-weight: bold;
  padding: 0;
}

.btn-fitrar {
  background-color: #0a663a;
  color: #fff;
}
