<div class="p-4 d-flex flex-column">
  <div class="text-center">
    <h1>Listado de inmuebles</h1>
  </div>
  <div *ngIf="inmueblesOriginales.length > 0">
    <div class="contenedor-grid-tarjetas">
      <app-tarjeta-inmueble
        *ngFor="let inmueble of inmuebles"
        [inmueble]="inmueble"
      >
      </app-tarjeta-inmueble>
    </div>
    <mat-paginator
      class="paginador"
      [length]="inmueblesOriginales.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[]"
      [hidePageSize]="true"
      [pageIndex]="pageIndex"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>

  <div
    *ngIf="inmueblesOriginales.length === 0"
    class="d-flex flex-column justify-content-center align-items-center mt-5"
    style="min-height: 200px"
  >
    <h5 class="text-center fst-italic mt-3 text-muted">
      No hay inmuebles disponibles
    </h5>
  </div>
</div>
