<div class="title-container">
  <h2 mat-dialog-title class="text-center fw-bold">
    Ver detalles del inmueble
  </h2>
  <button matMiniFab mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography">
  <div class="d-flex flex-column gap-4">
    <!-- Información de la propiedad -->
    <section>
      <h5 class="mb-2">Información de la propiedad</h5>
      <mat-list>
        <mat-list-item>
          <strong>Nombre:</strong>&nbsp;{{ inmueble.nombre }}
        </mat-list-item>
        <mat-list-item>
          <strong>Descripción:</strong>&nbsp;{{ inmueble.descripcion }}
        </mat-list-item>
        <mat-list-item>
          <strong>Precio base:</strong>&nbsp;S/. {{ inmueble.precioBase }}
        </mat-list-item>
        <mat-list-item>
          <strong>Área:</strong>&nbsp;{{ inmueble.area }} m²
        </mat-list-item>
      </mat-list>
    </section>

    <!-- Información del propietario -->
    <section *ngIf="estaLogeado">
      <h5 class="mb-2">Información del propietario</h5>
      <mat-list>
        <mat-list-item>
          <strong>Nombre:</strong>&nbsp;{{ inmuebleUsuario.usuario.nombre }}
        </mat-list-item>
        <mat-list-item>
          <strong>Correo:</strong>&nbsp;{{ inmuebleUsuario.usuario.email }}
        </mat-list-item>
      </mat-list>
    </section>

    <!-- Mapa -->
    <section>
      <h5 class="mb-2">Ubicación</h5>
      <div
        id="my-map"
        style="
          width: 500px;
          height: 300px;
          border-radius: 8px;
          overflow: hidden;
          border: 3px solid #0a663a;
        "
      ></div>
    </section>

    <!-- Visita -->
    <section *ngIf="!esVendedor && estaLogeado">
      <h5 class="mb-2">Agenda tu visita</h5>

      <div *ngIf="existeVisita">
        <p class="text-center fst-italic">Ya agendó una visita</p>
      </div>

      <div *ngIf="!existeVisita">
        <form
          class="d-flex flex-column px-5 py-3"
          [formGroup]="formVisita"
          (ngSubmit)="agendarVisita()"
        >
          <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              formControlName="fecha"
            />
            <mat-datepicker-toggle
              [for]="datepicker"
              matSuffix
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-error *ngIf="formVisita.get('fecha')?.hasError('required')">
              La fecha es obligatoria
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <input
              [matTimepicker]="timepicker"
              matInput
              formControlName="hora"
              [min]="minHora"
              [max]="maxHora"
            />
            <mat-timepicker #timepicker />
            <mat-timepicker-toggle [for]="timepicker" matSuffix />
            <mat-error *ngIf="formVisita.get('hora')?.hasError('required')">
              La hora es obligatoria
            </mat-error>
          </mat-form-field>

          <div
            *ngIf="formVisita.errors?.['fechaHoraNoFutura']"
            class="text-danger"
          >
            La fecha y hora deben ser futuras.
          </div>

          <button
            mat-dialog-close
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formVisita.invalid"
          >
            Agendar Visita
          </button>
        </form>
      </div>
    </section>

    <!-- Valoración -->

    <section *ngIf="estaLogeado">
      <h5 class="mb-2">Valoraciones</h5>

      <div class="px-4 pt-2">
        <div>
          <h6 class="mb-2">Valoración promedio</h6>
          <div class="d-flex justify-content-center align-items-center gap-2">
            <ng-container *ngFor="let estrella of estrellas">
              <mat-icon
                [ngClass]="{
                  'text-warning': estrella <= promedioValoracion,
                  'text-muted': estrella > promedioValoracion
                }"
              >
                star
              </mat-icon>
            </ng-container>
            <span *ngIf="promedioValoracion > 0">
              {{ promedioValoracion }} ({{ valoraciones.length }} valoraciones)
            </span>
            <span *ngIf="promedioValoracion === 0">Sin valoraciones aún</span>
          </div>
        </div>

        <!-- Sección de valoración del usuario -->
        <div *ngIf="!esDuenio">
          <h6 class="mt-3 mb-2">Tu valoración</h6>
          <div class="d-flex justify-content-center align-items-center gap-2">
            <!-- Estrellas para seleccionar valoración -->
            <mat-icon
              *ngFor="let estrella of estrellas"
              class="cursor-pointer"
              [ngClass]="{
                'text-warning': estrella <= valoracionSeleccionada,
                'text-muted': estrella > valoracionSeleccionada
              }"
              (click)="!usuarioYaValoro && (valoracionSeleccionada = estrella)"
            >
              star
            </mat-icon>

            <!-- Botón que cambia según el estado -->
            <button
              mat-flat-button
              color="primary"
              class="ms-2"
              (click)="
                usuarioYaValoro ? eliminarValoracion() : guardarValoracion()
              "
              [disabled]="!usuarioYaValoro && valoracionSeleccionada === 0"
            >
              {{ usuarioYaValoro ? "Eliminar" : "Enviar" }}
            </button>
          </div>

          <!-- Mensaje de confirmación -->
          <div *ngIf="usuarioYaValoro" class="mt-2 text-success">
            ¡Gracias por tu valoración!
          </div>
        </div>

        <!-- Lista de valoraciones -->
        <div *ngIf="valoraciones.length > 0">
          <h6 class="mt-4 mb-2">Lista de Valoraciones</h6>
          <div *ngFor="let val of valoracionesMostradas">
            <mat-card class="mb-2 p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <strong>{{ val.usuario.nombre }}</strong>
                </div>
                <div class="d-flex">
                  <mat-icon
                    *ngFor="let estrella of estrellas"
                    [ngClass]="{
                      'text-warning': estrella <= val.rating,
                      'text-muted': estrella > val.rating
                    }"
                    >star</mat-icon
                  >
                </div>
              </div>
            </mat-card>
          </div>
          <button
            *ngIf="valoracionesMostradas.length < valoraciones.length"
            mat-flat-button
            color="primary"
            (click)="verMasValoraciones()"
          >
            Ver más valoraciones
          </button>
        </div>
      </div>
    </section>

    <!-- Comentario -->
    <section *ngIf="estaLogeado">
      <h5 class="mb-2">Comentarios</h5>
      <div class="px-4">
        <div *ngIf="!esVendedor">
          <h6>Agregar comentario</h6>
          <!-- Formulario para insertar o editar comentario -->
          <form [formGroup]="comentarioform" (ngSubmit)="insertarComentario()">
            <!-- Campo de texto -->
            <mat-form-field appearance="outline" class="w-100">
              <textarea
                matInput
                placeholder="Escribe tu comentario aquí..."
                formControlName="comentario"
                required
                rows="2"
              ></textarea>
            </mat-form-field>

            <!-- Botones de acción -->
            <div class="mt-2 d-flex justify-content-center gap-2">
              <button mat-flat-button color="primary" type="submit">
                {{ existeComentario ? "Editar" : "Enviar" }}
              </button>

              <button
                mat-flat-button
                color="warn"
                type="button"
                (click)="eliminarComentario()"
                *ngIf="existeComentario"
              >
                Eliminar
              </button>
            </div>
          </form>
        </div>

        <!-- Lista de comentarios -->
        <div class="mt-4 mb-4">
          <h6 class="mb-2">Lista de Comentarios</h6>

          <div
            hideToggle
            *ngFor="let comentario of comentarios | slice : 0 : mostrarCantidad"
            class="comentario-container"
          >
            <div class="comentario-title-container">
              <b>{{ comentario.usuario.nombre }}</b>
              <p>{{ comentario.usuario.email }}</p>
            </div>

            <div>
              <p class="fs-6">{{ comentario.descripcion }}</p>
            </div>
          </div>

          <!-- Botón "Ver más / Ver menos" -->
          <div *ngIf="comentarios.length > 3" class="mt-2 text-center">
            <button mat-button color="primary" (click)="toggleVerMas()">
              {{
                mostrarCantidad >= comentarios.length ? "Ver menos" : "Ver más"
              }}
            </button>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="esVendedor && estaLogeado">
      <div>
        <h5>Anunciar Inmueble</h5>
        <!-- Formulario para insertar o editar comentario -->
        <form [formGroup]="anuncioform" (ngSubmit)="insertarAnuncio()">
          <!-- Campo de texto -->
          <mat-form-field appearance="outline" class="w-100">
            <textarea
              matInput
              placeholder="Escribe la descripción de tu anuncio aquí..."
              formControlName="anuncio"
              required
              rows="2"
            ></textarea>
          </mat-form-field>

          <!-- Botones de acción -->
          <div class="mt-2 d-flex justify-content-center gap-2">
            <button mat-flat-button color="primary" type="submit">
              {{ existeAnuncio ? "Editar" : "Anunciar" }}
            </button>

            <button
              mat-flat-button
              color="warn"
              type="button"
              (click)="eliminarAnuncio()"
              *ngIf="existeAnuncio"
            >
              Eliminar
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="gap-2 d-flex" *ngIf="esDuenio && estaLogeado">
    <button
      mat-dialog-close
      mat-flat-button
      [routerLink]="['/inmuebles/editar/', inmueble.idInmueble]"
      routerLinkActive="router-link-active"
      color="tertiary"
    >
      Editar
    </button>
    <button
      mat-dialog-close
      mat-flat-button
      (click)="eliminarInmueble(inmueble.idInmueble)"
      routerLinkActive="router-link-active"
    >
      Eliminar
    </button>
  </div>
  <div class="gap-2 d-flex" *ngIf="!esDuenio && estaLogeado">
    <div class="gap-2 d-flex" *ngIf="!esDuenio">
      <button
        *ngIf="esAlquiler"
        mat-flat-button
        [mat-dialog-close]="'alquiler'"
      >
        Alquilar
      </button>
      <button *ngIf="esVenta" mat-flat-button [mat-dialog-close]="'venta'">
        Comprar
      </button>
    </div>
  </div>
</mat-dialog-actions>
