<div class="title-container">
  <h2 mat-dialog-title class="text-center fw-bold">
    Ver detalles del inmueble
  </h2>
  <button matMiniFab mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography">
  <div class="d-flex flex-column gap-4">
    <!-- Información de la propiedad -->
    <section>
      <h5 class="mb-2">Información de la propiedad</h5>
      <mat-list>
        <mat-list-item>
          <strong>Nombre:</strong>&nbsp;{{ inmueble.nombre }}
        </mat-list-item>
        <mat-list-item>
          <strong>Descripción:</strong>&nbsp;{{ inmueble.descripcion }}
        </mat-list-item>
        <mat-list-item>
          <strong>Precio base:</strong>&nbsp;S/. {{ inmueble.precioBase }}
        </mat-list-item>
        <mat-list-item>
          <strong>Área:</strong>&nbsp;{{ inmueble.area }} m²
        </mat-list-item>
      </mat-list>
    </section>

    <!-- Información del propietario -->
    <section>
      <h5 class="mb-2">Información del propietario</h5>
      <mat-list>
        <mat-list-item>
          <strong>Nombre:</strong>&nbsp;{{ inmuebleUsuario.usuario.nombre }}
        </mat-list-item>
        <mat-list-item>
          <strong>Correo:</strong>&nbsp;{{ inmuebleUsuario.usuario.email }}
        </mat-list-item>
      </mat-list>
    </section>

    <!-- Mapa -->
    <section>
      <h5 class="mb-2">Ubicación</h5>
      <div
        id="my-map"
        style="
          width: 500px;
          height: 300px;
          border-radius: 8px;
          overflow: hidden;
          border: 3px solid #0a663a;
        "
      ></div>
    </section>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="gap-2 d-flex" *ngIf="esDuenio">
    <button
      mat-dialog-close
      mat-flat-button
      [routerLink]="['/inmuebles/editar/', inmueble.idInmueble]"
      routerLinkActive="router-link-active"
      color="tertiary"
    >
      Editar
    </button>
    <button
      mat-dialog-close
      mat-flat-button
      (click)="eliminar(inmueble.idInmueble)"
      routerLinkActive="router-link-active"
    >
      Eliminar
    </button>
  </div>
  <div class="gap-2 d-flex" *ngIf="!esDuenio">
    <button mat-flat-button mat-dialog-close>Alquilar</button>
    <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>
      Comprar
    </button>
  </div>
</mat-dialog-actions>
