.title-container button {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  transition: all 0.4s ease;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container button:hover {
  transform: scale(0.9);
  background-color: #ddd;
}

mat-slider {
  width: 90%;
}

mat-dialog-content {
  width: 500px;
}

mat-dialog-content div {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

::ng-deep mat-slider .mat-slider-track-fill {
  background-color: #0a663a !important;
}

::ng-deep mat-slider .mat-slider-thumb {
  background-color: #0a663a !important;
}

::ng-deep mat-slider .mat-slider-thumb-label {
  background-color: #0a663a !important;
}

::ng-deep mat-slider .mat-slider-track-background {
  background-color: rgba(10, 102, 58, 0.2) !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline {
  color: #0a663a !important;
  border-color: #0a663a !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #0a663a !important;
  border-color: #0a663a !important;
}

::ng-deep .mat-select-arrow {
  color: #0a663a !important;
}

::ng-deep .mat-select-value {
  color: #0a663a !important;
}
