<div class="contrato-container">
  <h5 class="titulo-contrato">{{ tipoContrato }}</h5>

  <div class="text-end mb-3">
    <button mat-flat-button color="primary" (click)="descargarPDF()">
      Descargar PDF
    </button>
  </div>

  <div class="contenido-contrato">
    <div
      *ngFor="let pagina of getTextoContratoPorPaginas(); let i = index"
      class="pagina"
    >
      <pre>{{ pagina }}</pre>
    </div>
  </div>

  <div class="d-flex justify-content-end gap-3 mt-4">
    <button mat-flat-button color="primary" (click)="cerrar()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="continuarPago()">
      Aceptar y continuar
    </button>
  </div>
</div>
