.w-80 {
  width: 80%;
}

div.container-personalizado {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

div.container-centrado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

td, th {
  text-align: center;
  vertical-align: middle;
}

.paginador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  justify-self: center;
  background-color: #0a663a;
  border-radius: 3rem;
  color: #feffef;
  font-weight: bold;
  padding: 0;
}


.btn-rojo {
  background-color: rgb(163, 28, 28) !important;
  color:white;
  margin: 0 auto;
  display: block;
  text-align: center;
  justify-content: center;
}