.w-80 {
  width: 80%;
}

div.container-personalizado {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

div.container-centrado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  background-color: #f0ea5f;
  color: #0a663a;
  font-family: Jost, sans-serif;
  border-radius: 50px 20px;
  padding: 0.5rem 1rem;
}

div.container-title {
  margin: 10px 0;
  padding: 5px 0;
}

td, th {
  text-align: center;
  vertical-align: middle;
}
