<div class="container">
  <div class="mt-4 mb-3">
    <h1 class="text-center">Listado de Roles</h1>
  </div>

  <div class="container w-80">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 table table-striped table-hover table-bordered"
    >
      <!-- ID  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let rol">{{ rol.idRol }}</td>
      </ng-container>

      <!-- Rol  -->
      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let rol">{{ rol.rol }}</td>
      </ng-container>

      <!-- Acciones  -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let rol">
          <button matButton="outlined"
            (click)="eliminarRol(rol.idRol)"
            class="btn btn-sm btn-rojo">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator class="paginador"
      [pageSize]="3"
      [pageSizeOptions]="[1,3,5]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
