.section-cta {
  background-image: url("../../../../../public/assets/fondo.png"); /* reemplaza con tu imagen real */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 80vh;
}
.section-cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* oscurece la imagen para resaltar texto */
  opacity: 0.6;
  z-index: 1;
}
.section-cta > div {
  position: relative;
  z-index: 2;
}

.section-whatis {
  background-color: #0a663a;
  width: 100%;
  height: 30vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
}

.section-whyus {
  background-color: #f0ea5f;
  width: 100%;
  height: 30vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.section-map {
  padding: 2rem;
}

#my-map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  border-radius: 16px; /* Bordes curvos */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: white; /* Fondo blanco */
  overflow: hidden; /* Para que el mapa no sobresalga */
}

.section-action {
  background-color: #f0ea5f;
  width: 100%;
  height: 30vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}
