.example-spacer {
  flex: 1 1 auto;
}

.header-nav {
  background-color: #0a663a;
  width: 100vw;
  height: 3rem;
}

mat-toolbar {
  background-color: #0a663a;
  padding: 0 20px;
}

.self-center {
  align-self: center;
  justify-self: center;
}

.flex-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-round {
  border-radius: 100px;
}

.login {
  background-color: transparent;
  color: #eee;
  border-color: #f0ea5f;
}

.login:hover {
  background-color: #f0ea5f;
  color: #333;
  border-color: #f0ea5f;
}
