.example-spacer {
  flex: 1 1 auto;
}

.header-nav {
  background-color: #0a663a;
  width: 100vw;
  height: 7.5vh;
}

mat-toolbar {
  background-color: #0a663a;
  padding: 0 20px;
}

.self-center {
  align-self: center;
  justify-self: center;
}

.flex-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login {
  background-color: transparent;
  color: #eee;
  border-color: #f0ea5f;
}

.login:hover {
  background-color: #f0ea5f;
  color: #333;
  border-color: #f0ea5f;
}

.btn-circle {
  border-radius: 100%;
}

.btn-white {
  background-color: transparent;
  background-color: #feffef;
  color: black;
  border: black 2px solid;
  padding: 0;
  margin: 0;
}

.btn-white:hover {
  background-color: white;
  border-width: 3px;
}
