.footer-fijo {
  background-color: #0a663a;
  width: 100vw;
  height: 3rem;
  padding: 0 2rem;
  margin: 0;
  font-family: Jost, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 799;
}

.footer-fijo div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h3,
h4 {
  font-size: 1rem;
  color: #f4ee60;
  margin: 0;
}

h4 > mat-icon {
  color: black;
}

img {
  width: 24px;
  height: 24px;
}
