<div
  class="container p-3 d-flex flex-column justify-content-center align-items-center">
  <h1>Cambiar Contraseña</h1>
  <div class="mt-3">
    <form [formGroup]="form" class="example-form" (submit)="aceptar()">
      <!-- Password -->
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña Actual</mat-label>
          <input
            matInput
            placeholder="Contraseña"
            formControlName="passwordActual"
            type="password"
          />
          <mat-error
            *ngIf="
              form.get('passwordActual')?.hasError('required') ||
              form.get('passwordActual')?.hasError('minlength')
            "
          >
            La contraseña debe de tener por lo menos 8 caracteres
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="Contraseña"
            formControlName="password"
            type="password"
          />
          <mat-error
            *ngIf="
              form.get('password')?.hasError('required') ||
              form.get('password')?.hasError('minlength')
            "
          >
            La contraseña debe de tener por lo menos 8 caracteres
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Confirmar Contraseña</mat-label>
          <input
            matInput
            placeholder="Confirmar Contraseña"
            formControlName="passwordVerificar"
            type="password"
          />
          <mat-error
            *ngIf="
              form.get('passwordVerificar')?.hasError('required') ||
              form.get('passwordVerificar')?.hasError('minlength')
            "
          >
            La contraseña debe de tener por lo menos 8 caracteres
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-3 text-center d-flex">
        <button class="w-100" mat-flat-button>Registrar</button>
      </div>
    </form>
  </div>
</div>
