<div class="mt-3">
  <h1 class="text-center">Reportes</h1>
</div>

<div class="container dashboard">
  <div class="contenedor">
    <app-reporte-estado-usuarios></app-reporte-estado-usuarios>
  </div>
  <div class="contenedor">
    <app-reporte-porcentaje-tipos></app-reporte-porcentaje-tipos>
  </div>
  <div class="contenedor">
    <app-reporte-contratos></app-reporte-contratos>
  </div>
  <div class="contenedor">
    <app-reporte-recaudacion-medios></app-reporte-recaudacion-medios>
  </div>
</div>