.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

form {
  padding: 1rem;
  border-radius: 20px;
  background-color: #eee;
  box-shadow: 0 0 10px 0;
  width: 45rem;
}

.info-inmueble {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.info-nombreTipo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.info-descripcion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-precioArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.info-ubicacion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

::ng-deep
  .mat-mdc-form-field.mat-mdc-form-field-type-filled
  .mdc-text-field--filled {
  background-color: transparent !important;
}
