@use "@angular/material" as mat;
@use "./src_theme-colors.scss" as custom;

@include mat.core();

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: custom.$primary-palette,
        tertiary: custom.$secondary-palette,
      ),
      density: 0,
    )
  );
}
