html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boton-primario {
  background-color: #0a663a;
  border: transparent;
}

.boton-primario:hover {
  background-color: #0a663a6c;
  border: transparent;
}

.boton-secundario {
  background-color: #f0ea5f;
  border: transparent;
  color: #333;
}

.boton-secundario:hover {
  background-color: #b1ad38;
  border: transparent;
  color: #333;
}
