.w-80 {
  width: 80%;
}

div.container-personalizado {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

div.container-centrado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  background-color: #f0ea5f;
  color: #0A663A;
  font-family: Jost, sans-serif;
  border-radius: 50px 20px;
  padding: 0.5rem 1rem;
}

div.container-title {
  margin: 10px 0;
  padding: 5px 0;
}








/* Ver Más */

.carta-usuario {
  width: 60%;
  max-width: 500px;
}

.modal-personalizado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.close-button {
  align-self: center;
  width: 25%;
  margin: 0;
}

.align-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

mat-paginator {
  align-self: center;
  justify-self: center;
  width: 50%;
  background-color: #BFE564;
}
