.title-container {
  text-align: center;
  margin: 20px;
}

.chart-container {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 400px; /* <-- Añade esta línea */
  position: relative; /* <-- Necesario para Chart.js */
  background-color: #feffef;
  border-radius: 25px;
  max-width: 500px;
}


@media (max-width: 768px) {
  .chart-container {
    width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
    padding: 10px; /* Reduce el padding en pantallas más pequeñas */
  }
}
